<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupopdc.controlinventario">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlInventario">
        <activity
            android:name=".ReporteTrasladoActivity"
            android:exported="false" />
        <activity
            android:name=".ListaEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CoreActivity"
            android:exported="false"
            android:label="@string/title_activity_core"
            android:theme="@style/Theme.ControlInventario.NoActionBar" />
        <activity
            android:name=".Activities.ConsultaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TrasladoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VentaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CompraActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OperacionesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CatalogoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MantenimientoProducto"
            android:exported="false" />
        <activity
            android:name=".Activities.IngresoProducto"
            android:exported="false" />
        <activity
            android:name=".Activities.MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.ControlInventario.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>